<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        <div class="main-item">
            <img src="img2.jpg">
            <div class="text-wraper">
                <h1>-80% на услуги для волос</h1>
                <p>Опыт работы более 10 лет! 799 р. за «умную» стрижку, 890 р. за полировку волос, 990 р. за мужскую стрижку, 3500 р. за окрашивание волос OMBRE</p>
            </div>
            <div class="controls">
                <div class="left-block">
                    <p>до 31 апреля</p>
                </div>
                <div class="right-block">
                    <div class="btn btn-success btn-sm">Купон</div>
                </div>
            </div>
        </div>
    </div>
</div>
