<div class="row">
<div ng-repeat="item in items">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
        <div class="main-item">
            <img ng-src="{{item.img}}">
            <div class="text-wraper">
                <h1>{{item.header}}</h1>
                <p>{{item.description}}</p>

            </div>
            <div class="controls">
                <div class="left-block">
                    <p>{{item.expires}}</p>
                </div>
                <div class="right-block">
                    <a href="#/{{item.linkid}}" class="btn btn-success btn-sm">Купон</a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
